form {
  -webkit-margin-after: 0;
  margin-block-end: 0; }

label#naam-check {
  font-size: 24px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0; }

.checkin-plaats {
  font-family: "Montserrat";
  font-weight: 700;
  border-radius: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.checkin-image > img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; }

.checkin-naam {
  font-size: 20px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
  width: 100%;
  text-align: center; }

.naambox {
  font-size: 16px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  background: #16191C;
  border-radius: 10px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .naambox {
    font-size: 16px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: 700;
    width: 100%;
    padding: 10px; }
  .checkin-naam {
    font-size: 20px; }
  .checkin-plaats {
    font-family: "Montserrat";
    font-weight: 700;
    border-radius: 0px 0px 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .checkin-image > img {
    height: 150px;
    min-width: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px; }
  .checkin-image-4col > img {
    min-width: 280px;
    min-height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px; }
  .checkin-image-4col {
    min-width: 280px;
    min-height: 280px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px; } }
