.knock-out-naam {
    font-size: 20px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: 700;
    min-width: 100%;
    text-align: center;
}

div#opstelling-1{
    background: #fff  !important;
    color: #16191C ;
}

div#opstelling-2 {
    background: #E20E23  !important;
    color: #fff;
}

.checkin-image-4col > img{
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
}

.checkin-image-4col {
    
    object-fit: cover;
    border-radius: 0px;
}

.knock-out-place1 {
    min-width: 33.3%;
    flex: 0 0 33.3%;
    order: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    .checkin-plaats {
    width: 100%;
    }
    .checkin-image-4col{
        border: 10px solid white;
    }   
}

.knock-out-place2 {
    min-width: 33.3%;
    flex: 0 0 33.3%;
    order: 3;
    justify-content: center;
    align-items: center;
    display: flex;
    .checkin-plaats {
        width: 100%;
        }
    .checkin-image-4col{
        border: 10px solid #E20E23  ;
    }  
    
}

.knock-out-place3 {
    min-width: 33.3%;
    flex: 0 0 33.3%;
    order: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    

    .checkin-plaats {
        width: 60%;
        }
        .knock-out-position{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .checkin-image-4col > img{
            border-radius: 126px;
            border: 10px solid #121212; 
        }
        .naambox{
            display: none;
        }
}

.full-height {
    height: calc(100vh - 80px);
    justify-content: space-between;
}

.knock-out-position{
    width: 60%;
}

.bg-knock-out{
    background-image: url("/img/bg.png");
    background-size: contain;
    background-position: center center;
    height: calc(100vh - 80px);
}
#playor-count {
    position: fixed;
    bottom: 0;
}



.col-3.knock-out-place1.winner-layout {
    width: 100%;
    max-width: 100% !important;
    flex: 0 0 100%; 
    .knock-out-position {
        width: 26%;
    }
    .checkin-image-4col {
        border: 10px solid #E3B524;
    }
    div#opstelling-1 {
        background: #E3B524 !important;
        color: #202020;
    }
    .naambox {
        font-size: 30px;
        font-weight: 900;
    }
    div#switch-1::before {
        content: "En de winnaar is...";
        font-size: 30px;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }
    div#switch-1::after {
        content: "- Druk op de WITTE knop om het potje te eindigen - ";
        font-size: 20px;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }
}

[class|="confetti"] {
    position: absolute;
  }
  
  .red {
    background-color: #E3B524;
  }
  
  .yellow {
    background-color: #F9BD15;
  }
  
  .blue {
    background-color: #DBA112;
  }

   .quotering-2, .quotering-1 {
    width: 87px;
    background: #202020;
    padding: 9px;
    color: #fff;
}

div#opstelling-1, div#opstelling-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.naam-flex {
    font-size: 22px;
} 

#position-2 .knock-out-naam {
    display: none;
} 