.row.podium{
    display: flex;
    align-items: flex-end;
}



#mainrank1, #mainrank2, #mainrank3
{
 display: none;
}
div#top1, div#top2, div#top3{
    .rank-thumb{
        width: 100px;
    }
}

div#top1 .place{
    background: #E3B524;
    
}

div#top2 .place{
    background: #A2A9B7;
}


div#top3 .place{
    background: #DE9947;
}
div#top1 .place, div#top2 .place, div#top3 .place
{
    font-size: 24px;
    font-family: "Montserrat";
    color: #242424;
    font-weight: 900;
    min-width: 33px;
    max-width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place {
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    font-size: 24px;
    font-family: "Montserrat";
    color: #eee;
    font-weight: 900;
    min-width: 33px;
    max-width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.rank-thumb { 
    width: 75px;
    margin-right: 10px;
    height: 100%;
}

.ranking {
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    
}


li, ul{
    list-style-type:none;
}

.podium-plaats {
    background: #121212;
    padding: 20px;
    font-family: "Montserrat" ;
    color: #767676;
    font-weight: 700;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: flex-end;
}

.naam {
    font-size: 34px;
    font-family: "Montserrat" ;
    color: #fff;
    font-weight: 700;
    width: 70%;
}

.punten{
    width: 50%;
    text-align: right;
    font-size: 36px;
    font-weight: 900;
}

.naam-ranking {
    font-size: 24px;
    font-family: "Montserrat" ;
    color: #fff;
    font-weight: 700;
    width: 70%;
}

.punten-ranking{
    width: 50%;
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    color: #767676;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.widget-holder.podium{
    background: #1B1F22;
    border-radius: 10px;
}

.podium-image > img {
    height: 200px;
    width: 100%;    
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}


div#podium-1 {
    order: 1;
    max-width: 43.33333%;
    flex: 0 0 43.33333%;
    
    .podium-image > img {
        height: 300px;
    }

}

div#podium-2 {
    order: 0;
    max-width: 28.33333%;
    flex: 0 0 28.33333%;

}


div#podium-3 {
    order: 2;
    max-width: 28.33333%;
    flex: 0 0 28.33333%;
}

div#opstelling-1, div#opstelling-2{
    background: #FDD50B !important;
    color: #121212;
    
    margin-bottom: 50px;  
}

div#opstelling-3 {
    background: #16191C !important;
    color: #fff;
    
}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .navbar-brand-dark .navbar-brand{
        margin-left: 20px;
    }
    .podium-plaats {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    
    .punten{
        font-size: 18px;
    }



}